/* 
/* The ONE Framework v1.0
/* Developed for AudiologyDesign
/* Copyright 2014 AudiologyDesign
/* http://www.apache.org/licenses/LICENSE-2.0
/*
/* Imagined & Designed by TEAM AD 
/* @Jason Ryan @David Ruscitti @Josh Wilson
/* Comment or Remove what is unneccesary for your project
============================================================= */
/* 34ONE CSS Reset
========================================================================== */
html, body, div, span, applet, object, iframe, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video {
  margin: 0px;
  padding: 0px;
  border: 0px;
  vertical-align: baseline; }

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

pre {
  margin: 14px 0; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 16px; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -8px; }

sub {
  bottom: -4px; }

figure {
  margin: 0; }

.chromeframe {
  margin: 3px 0;
  background: #ccc;
  color: #000;
  padding: 3px 0; }

/* Forms
========================================================================== */
form {
  margin: 0px; }

fieldset {
  border: none;
  margin: 0 2px;
  padding: 5px 10px 12px; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* Stack
========================================================================== */
body {
  background-color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  line-height: 1.42857; }

a {
  color: #ed6454;
  text-decoration: none;
  outline: none; }
  a:hover, a:focus {
    color: #f28e82; }

/* Sizing Classes -------------*/
/* Verticals  bvm = base-vertical-margin, bvp = base-vertical-padding (10px) */
.bvm {
  margin-top: 10px;
  margin-bottom: 10px; }

.bvp {
  padding-top: 10px;
  padding-bottom: 10px; }

.bvm-sm {
  margin-top: 5px;
  margin-bottom: 5px; }

.bvm-md {
  margin-top: 15px;
  margin-bottom: 15px; }

.bvm-lrg {
  margin-top: 20px;
  margin-bottom: 20px; }

.bvm-xlrg {
  margin-top: 30px;
  margin-bottom: 30px; }

.bvp-sm {
  padding-top: 5px;
  padding-bottom: 5px; }

.bvp-md {
  padding-top: 15px;
  padding-bottom: 15px; }

.bvp-lrg {
  padding-top: 20px;
  padding-bottom: 20px; }

.bvp-xlrg {
  padding-top: 30px;
  padding-bottom: 30px; }

/* Horizontals  bhm = base-horizontal-margin, bhp = base-horizontal-padding (10px) */
.bhm {
  margin-left: 10px;
  margin-right: 10px; }

.bhp {
  padding-left: 10px;
  padding-right: 10px; }

.bhm-sm {
  margin-left: 5px;
  margin-right: 5px; }

.bhm-md {
  margin-left: 15px;
  margin-right: 15px; }

.bhm-lrg {
  margin-left: 20px;
  margin-right: 20px; }

.bhm-xlrg {
  margin-left: 30px;
  margin-right: 30px; }

.bhp-sm {
  padding-left: 5px;
  padding-right: 5px; }

.bhp-md {
  padding-left: 15px;
  padding-right: 15px; }

.bhp-lrg {
  padding-left: 20px;
  padding-right: 20px; }

.bhp-xlrg {
  padding-left: 30px;
  padding-right: 30px; }

/* Typography
========================================================================== */
h1, h2, h3, h4, h5, h6 {
  color: #222222;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.1; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 26px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 20px; }

h6 {
  font-size: 18px; }

h1, h2, h3 {
  margin-top: 23px;
  margin-bottom: 11.5px; }

h4, h5, h6 {
  margin-top: 11.5px;
  margin-bottom: 11.5px; }

p {
  margin: 0 0 11.5px; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

strong {
  font-weight: 700; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.lrg-text {
  font-size: 23px; }

.sm-text {
  font-size: 14px; }

/* Blockquotes
========================================================================== */
blockquote {
  margin: 0 0 15px;
  padding: 10px;
  color: #737373;
  line-height: 1.42857;
  border-left: 4px solid #ed6454; }

blockquote cite {
  margin-top: 5px;
  color: #737373;
  font-size: 14px;
  display: block; }
  blockquote cite:before {
    content: "- "; }
