/* 
/* The ONE Framework v1.0
/* Developed for AudiologyDesign
/* Copyright 2014 AudiologyDesign
/* http://www.apache.org/licenses/LICENSE-2.0
/*
/* Imagined & Designed by TEAM AD 
/* @Jason Ryan @David Ruscitti @Josh Wilson
/* Comment or Remove what is unneccesary for your project
============================================================= */
/* 34ONE CSS Reset
========================================================================== */
html, body, div, span, applet, object, iframe, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video {
  margin: 0px;
  padding: 0px;
  border: 0px;
  vertical-align: baseline;
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

pre {
  margin: 14px 0;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 16px;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -8px;
}

sub {
  bottom: -4px;
}

figure {
  margin: 0;
}

.chromeframe {
  margin: 3px 0;
  background: #ccc;
  color: #000;
  padding: 3px 0;
}

/* Forms
========================================================================== */
form {
  margin: 0px;
}

fieldset {
  border: none;
  margin: 0 2px;
  padding: 5px 10px 12px;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Stack
========================================================================== */
body {
  background-color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #333333;
  line-height: 1.42857;
}

a {
  color: #e24f3d;
  text-decoration: none;
  outline: none;
}
a:hover, a:focus {
  color: #e97769;
}

hr {
  background: #dddddd;
  height: 1px;
  margin: 50px 0px;
  border: none;
}

/* Sizing Classes -------------*/
/* Verticals  bvm = base-vertical-margin, bvp = base-vertical-padding (10px) */
.bvm {
  margin-top: 10px;
  margin-bottom: 10px;
}

.bvp {
  padding-top: 10px;
  padding-bottom: 10px;
}

.bvm-sm {
  margin-top: 5px;
  margin-bottom: 5px;
}

.bvm-md {
  margin-top: 15px;
  margin-bottom: 15px;
}

.bvm-lrg {
  margin-top: 20px;
  margin-bottom: 20px;
}

.bvm-xlrg {
  margin-top: 30px;
  margin-bottom: 30px;
}

.bvp-sm {
  padding-top: 5px;
  padding-bottom: 5px;
}

.bvp-md {
  padding-top: 15px;
  padding-bottom: 15px;
}

.bvp-lrg {
  padding-top: 20px;
  padding-bottom: 20px;
}

.bvp-xlrg {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Horizontals  bhm = base-horizontal-margin, bhp = base-horizontal-padding (10px) */
.bhm {
  margin-left: 10px;
  margin-right: 10px;
}

.bhp {
  padding-left: 10px;
  padding-right: 10px;
}

.bhm-sm {
  margin-left: 5px;
  margin-right: 5px;
}

.bhm-md {
  margin-left: 15px;
  margin-right: 15px;
}

.bhm-lrg {
  margin-left: 20px;
  margin-right: 20px;
}

.bhm-xlrg {
  margin-left: 30px;
  margin-right: 30px;
}

.bhp-sm {
  padding-left: 5px;
  padding-right: 5px;
}

.bhp-md {
  padding-left: 15px;
  padding-right: 15px;
}

.bhp-lrg {
  padding-left: 20px;
  padding-right: 20px;
}

.bhp-xlrg {
  padding-left: 30px;
  padding-right: 30px;
}

/* Utility Closet
========================================================================== */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-none {
  float: none !important;
}

.centered-content-block {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.show {
  display: block;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

/* Typography
========================================================================== */
h1, h2, h3, h4, h5, h6 {
  color: #222222;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.1;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

h1, h2, h3 {
  margin-top: 23px;
  margin-bottom: 11.5px;
}

h4, h5, h6 {
  margin-top: 11.5px;
  margin-bottom: 11.5px;
}

p {
  margin: 0 0 11.5px;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

strong {
  font-weight: 700;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.lrg-text {
  font-size: 20px;
}

.sm-text {
  font-size: 10px;
}

/* Blockquotes
========================================================================== */
blockquote {
  margin: 0 0 15px;
  padding: 10px;
  color: #737373;
  line-height: 1.42857;
  border-left: 4px solid #e24f3d;
}

blockquote cite {
  margin-top: 5px;
  color: #737373;
  font-size: 12px;
  display: block;
}
blockquote cite:before {
  content: "- ";
}

/* Navigation
========================================================================== */
.primary-nav ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.primary-nav ul:before, .primary-nav ul:after {
  content: " ";
  display: table;
}
.primary-nav ul:after {
  clear: both;
}
.primary-nav ul li {
  float: left;
  position: relative;
  z-index: 10;
}
.primary-nav ul li a {
  height: auto;
  margin: 0px;
  padding: 0px 20px;
  color: #e24f3d;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.primary-nav ul li a:hover {
  color: #b72c1b;
}

/* Button Styles
========================================================================== */
.btn {
  background: linear-gradient(top, #eaeaea, #d0d0d0);
  background-color: #dddddd;
  height: 40px;
  margin: 0 0 5px;
  padding: 0 24px;
  color: #222222;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  line-height: 40px;
  border: 1px solid #c4c4c4;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5) inset, 0px 1px 2px rgba(0, 0, 0, 0.15);
}
.btn:hover, .btn:focus, .btn:active, .btn.is-active, .btn.active {
  text-decoration: none;
}
.btn:hover, .btn:focus {
  background: linear-gradient(top, #f7f7f7, #cbcbcb);
  background-color: #d0d0d0;
  color: #222222;
}
.btn:active, .btn.is-active, .btn.active {
  background: #b7b7b7;
  color: #222222;
}
.btn:focus {
  outline: none;
}

input.btn, button.btn {
  height: 42px;
  cursor: pointer;
  -webkit-appearance: none;
}

.btn-block {
  width: 100%;
  display: block;
}

.btn-flat {
  background: #dddddd;
  border: none;
  box-shadow: none;
  transition: all 0.3s ease;
}
.btn-flat:hover, .btn-flat:focus {
  background: #d0d0d0;
  color: #222222;
  box-shadow: none;
}
.btn-flat:active, .btn-flat.is-active, .btn-flat.active {
  background: #b7b7b7;
  color: #222222;
  box-shadow: none;
}
.btn-flat.disabled {
  box-shadow: none;
  -webkit-appearance: none;
}

.btn-border {
  background: none;
  color: #222222;
  box-shadow: none;
  transition: all 0.3s ease;
  border: 2px solid #dddddd;
}
.btn-border:hover, .btn-border:focus {
  background: #dddddd;
  box-shadow: none;
  border: 2px solid #dddddd;
}
.btn-border:active, .btn-border.is-active, .btn-border.active {
  background: #b7b7b7;
  box-shadow: none;
  border: 2px solid #b7b7b7;
}
.btn-border.disabled {
  box-shadow: none;
  -webkit-appearance: none;
}

.btn-3d {
  background: linear-gradient(top, #e2e2e2, #d8d8d8);
  background-color: #dddddd;
  color: #222222;
  position: relative;
  top: 0px;
  transition: all 0.3s ease;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3) inset, 0px -1px 1px rgba(255, 255, 255, 0.15) inset, 0px 7px 0px #aaaaaa, 0px 8px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #d0d0d0;
}
.btn-3d:hover, .btn-3d:focus {
  background: linear-gradient(top, #eaeaea, #d0d0d0);
  background-color: #d0d0d0;
  color: #222222;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3) inset, 0px -1px 1px rgba(255, 255, 255, 0.15) inset, 0px 7px 0px #aaaaaa, 0px 8px 3px rgba(0, 0, 0, 0.2);
}
.btn-3d:active, .btn-3d.is-active, .btn-3d.active {
  background: linear-gradient(top, #d8d8d8, #e2e2e2);
  background-color: #b7b7b7;
  color: #222222;
  top: 5px;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3) inset, 0px -1px 1px rgba(255, 255, 255, 0.15) inset, 0px 2px 0px #aaaaaa, 0px 3px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #d0d0d0;
}
.btn-3d.disabled {
  box-shadow: none;
  -webkit-appearance: none;
}

.btn-rounded {
  border-radius: 3px;
}

.btn-pill {
  border-radius: 50px;
}

.btn-primary {
  background: linear-gradient(top, #e56353, #df3b27);
  background-color: #e24f3d;
  color: white;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5) inset, 0px 1px 2px rgba(0, 0, 0, 0.15);
  border-color: #cd321f;
}
.btn-primary:hover, .btn-primary:focus {
  background: linear-gradient(top, #e97769, #df3b27);
  background-color: #df3b27;
  color: white;
}
.btn-primary:active, .btn-primary.is-active, .btn-primary.active {
  background: #b72c1b;
  color: white;
}

.btn-flat-primary {
  background: #e24f3d;
  color: white;
  transition: all 0.3s ease;
  box-shadow: none;
  border: none;
}
.btn-flat-primary:hover, .btn-flat-primary:focus {
  background: #df3b27;
  color: white;
}
.btn-flat-primary:active, .btn-flat-primary.is-active, .btn-flat-primary.active {
  background: #b72c1b;
  color: white;
  box-shadow: none;
}
.btn-flat-primary.disabled {
  box-shadow: none;
  -webkit-appearance: none;
}

.btn-border-primary {
  background: none;
  color: #e24f3d;
  transition: all 0.3s ease;
  box-shadow: none;
  border: 2px solid #e24f3d;
}
.btn-border-primary:hover, .btn-border-primary:focus {
  background: #e24f3d;
  color: white;
  box-shadow: none;
  border: 2px solid #e24f3d;
}
.btn-border-primary:active, .btn-border-primary.is-active, .btn-border-primary.active {
  background: #b72c1b;
  color: white;
  box-shadow: none;
  border: 2px solid #b72c1b;
}
.btn-border-primary.disabled {
  box-shadow: none;
  -webkit-appearance: none;
}

.btn-3d-primary {
  background: linear-gradient(top, #e35746, #e14734);
  background-color: #e24f3d;
  color: white;
  position: relative;
  top: 0px;
  transition: all 0.3s ease;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3) inset, 0px -1px 1px rgba(255, 255, 255, 0.15) inset, 0px 7px 0px #cd321f, 0px 8px 3px rgba(0, 0, 0, 0.3);
  border: 1px solid #cd321f;
}
.btn-3d-primary:hover, .btn-3d-primary:focus {
  background: linear-gradient(top, #e76f60, #e14b39);
  background-color: #df3b27;
  color: white;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3) inset, 0px -1px 1px rgba(255, 255, 255, 0.15) inset, 0px 7px 0px #c4301d, 0px 8px 3px rgba(0, 0, 0, 0.3);
}
.btn-3d-primary:active, .btn-3d-primary.is-active, .btn-3d-primary.active {
  background: linear-gradient(top, #e14734, #e35746);
  background-color: #df3b27;
  color: white;
  top: 5px;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3) inset, 0px -1px 1px rgba(255, 255, 255, 0.15) inset, 0px 2px 0px #cd321f, 0px 3px 3px rgba(0, 0, 0, 0.3);
  border: 1px solid #df3b27;
}
.btn-3d-primary.disabled {
  box-shadow: none;
  -webkit-appearance: none;
}

.btn-secondary {
  background: linear-gradient(top, #88cee3, #5ebed9);
  background-color: #73c6de;
  color: white;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5) inset, 0px 1px 2px rgba(0, 0, 0, 0.15);
  border-color: #4ab5d4;
}
.btn-secondary:hover, .btn-secondary:focus {
  background: linear-gradient(top, #9cd7e8, #5ebed9);
  background-color: #5ebed9;
  color: white;
}
.btn-secondary:active, .btn-secondary.is-active, .btn-secondary.active {
  background: #35adcf;
  color: white;
}

.btn-flat-secondary {
  background: #73c6de;
  color: white;
  transition: all 0.3s ease;
  box-shadow: none;
  border: none;
}
.btn-flat-secondary:hover, .btn-flat-secondary:focus {
  background: #5ebed9;
  color: white;
}
.btn-flat-secondary:active, .btn-flat-secondary.is-active, .btn-flat-secondary.active {
  background: #35adcf;
  color: white;
  box-shadow: none;
}
.btn-flat-secondary.disabled {
  box-shadow: none;
  -webkit-appearance: none;
}

.btn-border-secondary {
  background: none;
  color: #73c6de;
  transition: all 0.3s ease;
  box-shadow: none;
  border: 2px solid #73c6de;
}
.btn-border-secondary:hover, .btn-border-secondary:focus {
  background: #73c6de;
  color: white;
  box-shadow: none;
  border: 2px solid #73c6de;
}
.btn-border-secondary:active, .btn-border-secondary.is-active, .btn-border-secondary.active {
  background: #35adcf;
  color: white;
  box-shadow: none;
  border: 2px solid #35adcf;
}
.btn-border-secondary.disabled {
  box-shadow: none;
  -webkit-appearance: none;
}

.btn-3d-secondary {
  background: linear-gradient(top, #7bc9e0, #6bc3dc);
  background-color: #73c6de;
  color: white;
  position: relative;
  top: 0px;
  transition: all 0.3s ease;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3) inset, 0px -1px 1px rgba(255, 255, 255, 0.15) inset, 0px 7px 0px #4ab5d4, 0px 8px 3px rgba(0, 0, 0, 0.3);
  border: 1px solid #4ab5d4;
}
.btn-3d-secondary:hover, .btn-3d-secondary:focus {
  background: linear-gradient(top, #94d3e6, #6fc4dd);
  background-color: #5ebed9;
  color: white;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3) inset, 0px -1px 1px rgba(255, 255, 255, 0.15) inset, 0px 7px 0px #41b2d2, 0px 8px 3px rgba(0, 0, 0, 0.3);
}
.btn-3d-secondary:active, .btn-3d-secondary.is-active, .btn-3d-secondary.active {
  background: linear-gradient(top, #6bc3dc, #7bc9e0);
  background-color: #5ebed9;
  color: white;
  top: 5px;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3) inset, 0px -1px 1px rgba(255, 255, 255, 0.15) inset, 0px 2px 0px #4ab5d4, 0px 3px 3px rgba(0, 0, 0, 0.3);
  border: 1px solid #5ebed9;
}
.btn-3d-secondary.disabled {
  box-shadow: none;
  -webkit-appearance: none;
}

.btn-tertiary {
  background: linear-gradient(top, #737373, #595959);
  background-color: #666666;
  color: white;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5) inset, 0px 1px 2px rgba(0, 0, 0, 0.15);
  border-color: #4d4d4d;
}
.btn-tertiary:hover, .btn-tertiary:focus {
  background: linear-gradient(top, gray, #595959);
  background-color: #595959;
  color: white;
}
.btn-tertiary:active, .btn-tertiary.is-active, .btn-tertiary.active {
  background: #404040;
  color: white;
}

.btn-flat-tertiary {
  background: #666666;
  color: white;
  transition: all 0.3s ease;
  box-shadow: none;
  border: none;
}
.btn-flat-tertiary:hover, .btn-flat-tertiary:focus {
  background: #595959;
  color: white;
}
.btn-flat-tertiary:active, .btn-flat-tertiary.is-active, .btn-flat-tertiary.active {
  background: #404040;
  color: white;
  box-shadow: none;
}
.btn-flat-tertiary.disabled {
  box-shadow: none;
  -webkit-appearance: none;
}

.btn-border-tertiary {
  background: none;
  color: #666666;
  transition: all 0.3s ease;
  box-shadow: none;
  border: 2px solid #666666;
}
.btn-border-tertiary:hover, .btn-border-tertiary:focus {
  background: #666666;
  color: white;
  box-shadow: none;
  border: 2px solid #666666;
}
.btn-border-tertiary:active, .btn-border-tertiary.is-active, .btn-border-tertiary.active {
  background: #404040;
  color: white;
  box-shadow: none;
  border: 2px solid #404040;
}
.btn-border-tertiary.disabled {
  box-shadow: none;
  -webkit-appearance: none;
}

.btn-3d-tertiary {
  background: linear-gradient(top, #6b6b6b, #616161);
  background-color: #666666;
  color: white;
  position: relative;
  top: 0px;
  transition: all 0.3s ease;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3) inset, 0px -1px 1px rgba(255, 255, 255, 0.15) inset, 0px 7px 0px #4d4d4d, 0px 8px 3px rgba(0, 0, 0, 0.3);
  border: 1px solid #4d4d4d;
}
.btn-3d-tertiary:hover, .btn-3d-tertiary:focus {
  background: linear-gradient(top, #7a7a7a, #636363);
  background-color: #595959;
  color: white;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3) inset, 0px -1px 1px rgba(255, 255, 255, 0.15) inset, 0px 7px 0px #474747, 0px 8px 3px rgba(0, 0, 0, 0.3);
}
.btn-3d-tertiary:active, .btn-3d-tertiary.is-active, .btn-3d-tertiary.active {
  background: linear-gradient(top, #616161, #6b6b6b);
  background-color: #595959;
  color: white;
  top: 5px;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3) inset, 0px -1px 1px rgba(255, 255, 255, 0.15) inset, 0px 2px 0px #4d4d4d, 0px 3px 3px rgba(0, 0, 0, 0.3);
  border: 1px solid #595959;
}
.btn-3d-tertiary.disabled {
  box-shadow: none;
  -webkit-appearance: none;
}

.btn-small {
  height: 28px;
  padding: 0px 24px;
  font-size: 12px;
  line-height: 28px;
}

input.btn-small, button.btn-small {
  height: 30px;
}

.btn-medium {
  height: 32px;
  padding: 0px 25.6px;
  font-size: 14px;
  line-height: 32px;
}

input.btn-medium, button.btn-medium {
  height: 34px;
}

.btn-large {
  height: 48px;
  padding: 0px 38.4px;
  font-size: 18px;
  line-height: 48px;
}

input.btn-large, button.btn-large {
  height: 50px;
}

.btn-jumbo {
  height: 64px;
  padding: 0px 51.2px;
  font-size: 20px;
  line-height: 64px;
}

/* Accordion 
========================================================================== */
.accordion h4 {
  margin-bottom: 0px !important;
}

h4.acc-trigger a {
  background-color: #e24f3d;
  padding: 15px;
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.3s ease;
}

h4.acc-trigger a.open,
h4.acc-trigger a:hover {
  background-color: #df3b27;
}

h4.acc-trigger a span {
  float: right;
}

.acc-detail {
  background-color: #f9f9f9;
  color: #666;
  font-size: 16px;
  padding: 15px;
  border: 1px solid #e0e0e0;
}

.icon-openClose:before {
  font-family: "FontAwesome";
  content: "\f055";
  display: block;
  font-weight: normal;
  font-size: 24px;
  line-height: 23px;
}

h4.acc-trigger a.open .icon-openClose:before {
  font-family: "FontAwesome";
  content: "\f056" !important;
}

ul.tabs {
  margin: 0 0 -1px;
  padding: 0px;
  display: block;
}

ul.tabs:before, ul.tabs:after {
  content: " ";
  display: table;
}
ul.tabs:after {
  clear: both;
}

ul.tabs li:first-child {
  margin: 0px;
}

ul.tabs li {
  width: 24%;
  margin-left: 1px;
  padding: 0px;
  float: left;
  display: block;
  list-style-type: none !important;
}

ul.tabs li a {
  background-color: #e24f3d;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0px 20px;
  font-size: 16px;
  color: white;
  text-align: center;
  text-decoration: none;
  line-height: 36px;
  display: block;
}

ul.tabs li a.active {
  background-color: #df3b27;
  margin: 0px;
}

ul.tabs li:first-child a.active {
  margin-left: 0;
}

ul.tabs-content {
  margin: 0px;
  padding: 20px 10px;
  border-color: #d7d7d7;
  border-style: solid;
  border-width: 1px;
}

ul.tabs-content > li {
  display: none;
  list-style-type: none !important;
}

ul.tabs-content > li.active {
  display: block !important;
}
