/* Accordion 
========================================================================== */

.accordion h4 {
	margin-bottom: 0px !important;
}

h4.acc-trigger a {
  background-color: $primary-accent-color;
  padding: 15px;
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.3s ease;
}

h4.acc-trigger a.open,
h4.acc-trigger a:hover {
	background-color: darken($primary-accent-color, 5%);
}

h4.acc-trigger a span { 
	float: right;
}

.acc-detail {
	background-color: $lightgrey;
  color: #666;
  font-size: 16px;
  padding: 15px;
  border: 1px solid darken($lightgrey, 10%);
}

.icon-openClose:before {
  font-family: "FontAwesome";
  content: "\f055";
  display: block;
  font-weight: normal;
  font-size: 24px;
  line-height: $base-line-height-computed;
}

h4.acc-trigger a.open .icon-openClose:before{
  font-family: "FontAwesome";
  content: "\f056" !important;
}