
/* Form Elements
========================================================================== */

fieldset {
	background-color: lighten($default-color, 10%);
	margin: $base-vertical-margin 0px;
	padding: ceil($base-vertical-padding * 2);
	@include border(1px, solid, $base-input-border-color);
}

label {
	display: inline-block;
	max-width: 100%; // Force IE8 to wrap long content (see https://github.com/twbs/bootstrap/issues/13141)
	margin-bottom: 5px;
	font-weight: bold;
}


input[type="text"], 
input[type="password"], 
input[type="date"], 
input[type="datetime"], 
input[type="email"], 
input[type="number"], 
input[type="search"], 
input[type="tel"], 
input[type="time"], 
input[type="url"], 
textarea,
select {
	background-color: $base-input-background-color;
	width: 100%;
	margin-bottom: ceil($base-vertical-margin / 2);
	padding: ceil($base-vertical-padding - 2);
	color: $base-font-color;
	font-family: $base-font;
	border-color: $base-input-border-color;
	border-style: solid;
	border-width: 1px;
	@include transition(border-color, 0.3s, ease);
	
	&:hover {
		border-color: darken($base-input-border-color, 10%);
	}

	&:focus {
		border-color: $base-input-focus-color;
		box-shadow: 0 0 5px rgba($base-input-focus-color, 0.4);
		outline: none;
	}
}

textarea {
	resize: vertical;
}