/* Navigation
========================================================================== */

.primary-nav {

    ul {
      margin: $nomargin;
      padding: $nopadding;
      list-style-type: none;
      @include clearfix;

      li {
        float: left;
        @include rel-position(10);

        a {
          height: auto;
          margin: $nomargin;
          padding: 0px $base-horizontal-padding-large;
          color: $primary-accent-color;
          font-family: $base-font;
          font-weight: 700;
          text-decoration: none;
          display: block;
          @include uppercase;
          transition: all 0.3s ease;

          &:hover {
            color: darken($primary-accent-color, 15%);
          }
        }
      }
    }
  }