
// Global Variables

// Site Branding Colors ------------------- //

$primary-accent-color:   #e24f3d;
$secondary-accent-color: #73c6de;
$tertiary-accent-color:  #666666;


// Base Colors ------------------- //

$black:     #000000 !default;
$grey:      #333333 !default;
$lightgrey: #999999 !default;
$darkgrey:  #222222 !default;
$white:     #ffffff !default;

// Base Typography -------------- //

$base-font: Helvetica, Arial, sans-serif;
$base-font-size: 16px !default;
$base-font-weight: 300 !default;
$base-font-color: $grey !default;
$base-line-height:             1.428571429 !default; // 20/14
$base-line-height-computed:    ceil($base-font-size * $base-line-height) !default; // 20px

$base-title-font: $base-font;
$base-title-font-weight: 500;
$base-title-color: $darkgrey !default;

$base-link-color: $primary-accent-color !default;
$base-link-hover-color: lighten($primary-accent-color, 10%) !default;

$base-title-h1: ceil($base-font-size * 2.25) !default; // 36px
$base-title-h2: ceil($base-font-size * 1.85) !default; // 30px
$base-title-h3: ceil($base-font-size * 1.60) !default; // 26px
$base-title-h4: ceil($base-font-size * 1.35) !default; // 22px
$base-title-h5: ceil($base-font-size * 1.25) !default; // 20px
$base-title-h6: ceil($base-font-size * 1.10) !default; // 18px

$base-title-font:    $base-font !default;
$base-title-font-weight:    500 !default;
$base-title-line-height:    1.1 !default;
$base-title-color:          inherit !default;

$lrg-text: ceil($base-font-size * 1.38) !default;
$sm-text:  ceil($base-font-size * 0.85) !default;


// Spacing --------------------- //

$nomargin:  0px !default;
$nopadding: 0px !default;

// Vertical //

$base-vertical-margin:  10px !default;
$base-vertical-padding: 10px !default;

$base-vertical-margin-small:  				ceil($base-vertical-margin / 2); // 5px
$base-vertical-padding-small: 				ceil($base-vertical-padding / 2); // 5px

$base-vertical-margin-medium:  				ceil($base-vertical-margin + 5); // 15px
$base-vertical-padding-medium: 				ceil($base-vertical-padding + 5); // 15px

$base-vertical-margin-large:  				ceil($base-vertical-margin * 2); // 20px
$base-vertical-padding-large: 				ceil($base-vertical-padding * 2); // 20px

$base-vertical-margin-extra-large:  	ceil($base-vertical-margin * 3); // 30px
$base-vertical-padding-extra-large: 	ceil($base-vertical-padding * 3); // 30px

// Horizontal //

$base-horizontal-margin:  10px !default;
$base-horizontal-padding: 10px !default;

$base-horizontal-margin-small:  			ceil($base-horizontal-margin / 2); // 5px
$base-horizontal-padding-small: 			ceil($base-horizontal-padding / 2); // 5px

$base-horizontal-margin-medium:  			ceil($base-horizontal-margin + 5); // 15px
$base-horizontal-padding-medium: 			ceil($base-horizontal-padding + 5); // 15px

$base-horizontal-margin-large:  			ceil($base-horizontal-margin * 2); // 20px
$base-horizontal-padding-large: 			ceil($base-horizontal-padding * 2); // 20px

$base-horizontal-margin-extra-large:  ceil($base-horizontal-margin * 3); // 30px
$base-horizontal-padding-extra-large: ceil($base-horizontal-padding * 3); // 30px


// Navigation --------------------- //

$base-nav-height: 50px;
$base-nav-line-height: $base-nav-height;

// Buttons --------------------- //

$base-btn-class: ".btn";
$base-btn-color: #ddd !default;
$base-btn-height: 40px !default;

$base-btn-font-color: #222 !default;
$base-btn-font-size: $base-font-size;
$base-btn-font-weight: $base-font-weight;
$base-btn-font-family: $base-font;

// These are based on the sites accent colors, you can add/remove based on needs 
// name -> pre-defined accent color -> font color
$base-btn-accent-colors: ('primary' $primary-accent-color #FFFFFF) ('secondary' $secondary-accent-color #FFFFFF) ('tertiary' $tertiary-accent-color #FFFFFF);

$base-btn-styles: 'flat' 'rounded' 'pill' 'border' '3d';
$base-btn-sizes: 'small' 'medium' 'large' 'jumbo';











