
.banner.full-width {
	background-color: #39424D;
	background-image: url("http://www.transparenttextures.com/patterns/black-linen.png");
  padding: 100px 0;
}

.banner.full-width h1, .banner.full-width p {
	color: #ffffff;
}

.banner.full-width h1 {
	font-size: 54px;
	text-transform: uppercase;
}

pre {
	background-color: #39424D;
	margin-top: 20px;
	padding: 30px 10px;
	color: #fff;
	display: block;
	word-break: normal;
	white-space: nowrap;
	overflow-x: auto;
}

header {
	background-color: #f9f9f9;
	width: 100%;
	height: auto;
	padding: 40px 0;
}


@media only screen and (max-width: 1023px) {
	.primary-nav { display: none; }

	.responsive-navbar {
		background-color: #222222;
		width: 100%;
		height: 65px;
		margin: 0px;
		padding: 10px;
		position: fixed;
		top: 0px;
		left: 0px;
		display: block;
		z-index: 999;
	}

	header { padding-top: 105px; }
}



article { margin: 20px 0 80px; }

.btn { text-transform: capitalize; }

.boxxy {
	background-color: #ffffff;
	width: 100%;
	height: 100%;
	padding: 20px;
	border: 1px solid #e7e7e7;
}

.footer-wrap {
	background-color: #f9f9f9;
	padding: 60px 0;
}

.footer-meta p {
	font-size: 14px;
}
