
.banner.full-width {
	background-color: #39424D;
	background-image: url("http://www.transparenttextures.com/patterns/black-linen.png");
  padding: 100px 0;
}

.banner.full-width h1, .banner.full-width p {
	color: #ffffff;
}

.banner.full-width h1 {
	font-size: 54px;
	text-transform: uppercase;
}

pre {
	background-color: #39424D;
	margin-top: 20px;
	padding: 30px 10px;
	color: #fff;
	display: block;
	word-break: normal;
	white-space: nowrap;
	overflow-x: auto;
}

header {
	background-color: #f9f9f9;
	width: 100%;
	height: 160px;
	position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
	-webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
}

header .primary-nav {
	height: 160px;
	-webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
}

.logo, .primary-nav li a {
	line-height: 160px;
	-webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

header.sticky,
header.sticky .primary-nav {
	height: 90px;
}

header.sticky .logo, 
header.sticky .primary-nav li a {
	line-height: 90px;
}

header + section{
	margin-top: 160px;
}

.footer-wrap {
	background-color: #f9f9f9;
	padding: 60px 0;
}

.footer-meta p {
	font-size: 14px;
}
